* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #F1F1F1;
}

#header {
  display: flex;
  align-items: center;
  background-color: black;
}

.impDiv {
  background-color: #303030;
  display: flex;
  align-items: center;
  border: 0.25px solid #616161;
}

.impIcon {
  color: #E3E3E3;
}

#impSrchIcon {
  color: #B5B5B5;
}

#impField {
  color: #B5B5B5;
  background-color: inherit;
  border: none;
  width: 100%;
}

#impDiv:hover {
  border: 0.5px solid #E1E1E1;
}

#notDcAside {
  display: flex;
  align-items: center;
}

#notIcon {
  color: #E3E3E3;
  cursor: pointer;
}

#notIconDiv:hover {
  background-color: #616161;
}

#notIconDiv:active {
  background-color: #656266;
}

#dcDiv:hover {
  background-color: #616161;
}

#dcIconText {
  border: none;
  align-items: center;
  background-color: inherit;
}

#dcIconText.styleDcDisplay {
  display: none;
}

#dcText {
  color: #E3E3E3;
  text-wrap: nowrap;
}

.dcIconStyle {
  color: rgba(0, 0, 0, 0.4);
  background: #36FBA1;
  font-family: 'Inter';
  font-style: normal;
}

#extDiv {
  display: flex;
  background-color: #1A1A1A;
}

#extMainText {
  color: #E3E3E3;
}

#extMainBtn {
  border: none;
  background-color: #FFFFFF;
  color: #323232;
  cursor: pointer;
}

#extCanIcon {
  cursor: pointer;
}

#setSec {
  background-color: white;
}

#setSecDiv {
  display: flex;
  justify-content: space-between;
}

#setTaskCom {
  display: flex;
  align-items: center;
}

.setTexts {
  color: #303030;
}

#taskBar {
  background: linear-gradient(to left, #F1F1F1 80%, #1A1A1A 20%);
  width: 5rem;
  height: 0.25rem;
  border-radius: 0.25rem;
}

#showTask {
  height: fit-content;
  cursor: pointer;
}

#cusSec {
  display: none;
}

#cusSec.toggleCusSec {
  display: block;
}

.cusMain:nth-child(1) {
  margin-top: 0;
}

.cusMain:nth-child(5) {
  margin-bottom: 0;
}

.cusMain {
  background-color: transparent;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cusMain.cusMainAddColor {
  background-color: #F2F2F2;
}

.cusMainDiv {
  display: grid;
  grid-template-columns: 2.5% 92.5%;
  align-items: flex-start;
}

.cusIcon {
  cursor: pointer;
}

.innerHead {
  font-weight: 600;
  cursor: pointer;
}

.innerSection {
  display: none;
}

.innerSection.openInnerSection {
  display: block;
}

.innerSpan {
  color: #005BD3;
  cursor: pointer;
}

#innerBtnDiv {
  display: flex;
  align-items: center;
}

.innerBtn {
  border: hidden;
  background-color: #404040;
  color: #F6F3F6;
}

#innerDivSpan {
  font-weight: 600;
  color: #323232;
  cursor: pointer;
}

.cusImg {
  display: none;
}

.cusImg.openCusImg {
  display: block;
}

#personalDetails {
  display: none;
}

.sideMenus {
  position: absolute;
  background-color: white;
}

#personalDetails.toggleDetails {
  display: block;
}

.collectorDivs {
  border-bottom: 0.5px solid #E1E1E1;
  display: flex;
  flex-direction: column;
}

.collectorDivs:last-child {
  border-bottom: none;
}

#collectorName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F1F1F1;
}

.listItemFlex {
  display: flex;
  align-items: center;
}

.listItems {
  list-style: none;
}

.listItems:hover {
  background-color: #F1F1F1;
}

.listItems:active {
  background-color: #F0F0F0;
}

.listItems.focusedListItem {
  background: transparent;
  border: 1px solid #005BD3;
}

.collectorDivs .listItems:first-child {
  margin-top: 0;
}

.listName {
  color: #303030;
}

#alertAside {
  display: none;
}

#alertAside.toggleAlertAside {
  display: block;
}

#alertNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#alertInnerDiv {
  display: flex;
}

.alertInnerIcon {
  cursor: pointer;
}

.alertInnerIcon.focusedListItem {
  background: transparent;
  border: 1px solid #005BD3;
}

#alertMain {
  text-align: center;
  background-color: #F1F1F1;
}





@media all and (max-width: 767px) {

  #header {
    gap: 0 0.5rem;
    padding: 0.5rem;
  }

  #shopIcon {
    height: 1.75rem;
    width: 1.75rem;
  }

  #shopIconText {
    display: none;
  }

  .impDiv {
    padding: 0.25rem 0.35rem;
    border-radius: 0.25rem;
    gap: 0 0.5rem;
  }

  .impIcon {
    height: 0.75rem;
    width: 0.75rem;
  }

  #impDiv {
    width: 100%;
  }

  #impField {
    font-size: 0.5rem;
  }

  #notDcAside {
    gap: 0 0.5rem;
  }

  #notIconDiv {
    border-radius: 0.25rem;
    padding: 0.10rem 0.20rem;
  }

  #dcDiv {
    padding: 0.05rem;
  }

  #dcIconText {
    display: flex;
    gap: 0.25rem;
  }

  #dcText {
    font-size: 0.5rem;
  }

  .dcIconStyle {
    padding: 0.25rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
  }

  #extDiv {
    justify-content: space-between;
    padding: 0.75rem;
    margin-top: 1rem;
  }

  #extMainText {
    margin-bottom: 1rem;
    font-size: 0.75rem;
  }

  #extMainBtn {
    padding: 0.35rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }

  #extCanIcon {
    height: 0.75rem;
    width: 0.75rem;
  }

  #setSec {
    margin-top: 0.75rem;
  }

  #setSecDiv {
    padding: 1rem 1rem 1.5rem 1rem;
  }

  .setTexts {
    font-size: 0.75rem;
  }

  #setText {
    margin: 0.5rem 0 0.75rem 0;
  }

  #setTaskCom {
    gap: 0 1rem;
  }

  #showTask {
    height: 0.25rem;
    width: 0.5rem;
  }

  #cusSec {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  .cusMain {
    padding: 0.5rem;
    margin: 1rem 0;
  }

  .cusMainDiv {
    gap: 0 1.5rem;
  }

  .cusIcon {
    height: 1rem;
    width: 1rem;
  }

  .innerHead {
    font-size: 0.75rem;
  }

  .innerSection {
    margin-top: 0.75rem;
  }

  .innerText {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
  }

  #innerBtnDiv {
    gap: 0 1rem;
  }

  .innerBtn {
    padding: 0.25rem 0.30rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
  }

  #innerDivSpan {
    font-size: 0.75rem;
  }

  .cusImg {
    display: none !important;
  }

  .sideMenus {
    border-radius: 0.25rem;
    top: 4.75rem;
  }

  #personalDetails {
    width: 60%;
    right: 1rem;
  }

  .collectorDivs {
    padding: 0.5rem;
    gap: 0.35rem 0;
  }

  #collectorName {
    padding: 0.35rem 0.5rem;
  }

  .listItemFlex {
    gap: 0 0.25rem;
  }

  .listItems {
    padding: 0.35rem 0.5rem;
    border-radius: 0.25rem;
  }

  .listName {
    font-size: 0.75rem;
  }

  #accountMail {
    margin: 0.05rem 0 0 0.15rem;
    font-size: 0.5rem;
  }

  #alertAside {
    left: 0;
    right: 0;
    width: 92.5%;
    margin: auto;
    padding: 1rem;
  }

  #alertInnerDiv {
    gap: 0 1.5rem;
  }

  .alertInnerIcon {
    padding: 0.15rem;
    border-radius: 0.25rem;
    height: 1.25rem;
    width: 1.25rem;
  }

  #alertMain {
    padding: 1rem;
    margin-top: 1.5rem;
  }
}





@media all and (min-width: 1024px) {

  #shopIcon {
    display: none;
  }

  #shopIconText {
    height: 2.5rem;
    width: 7.5rem;
  }

  #header {
    padding: 0.5rem 1rem;
    justify-content: space-between;
  }

  .impDiv {
    padding: 0.5rem 0.85rem;
    border-radius: 0.75rem;
  }

  .impIcon {
    height: 1rem;
    width: 1rem;
  }

  #impDiv {
    width: 40% !important;
  }

  #notDcAside {
    gap: 0 0.75rem;
  }

  #notIcon {
    width: 2.25rem;
    height: 2.25rem;
    background-color: #322F33;
    padding: 0.35rem;
    border-radius: 0.5rem;
  }

  #dcIconText {
    display: flex !important;
    padding: 0;
    gap: 0;
  }

  #dcSvgIcon {
    display: none;
  }

  #dcText {
    padding: 0.45rem;
    border-radius: 0.5rem;
  }

  .dcIconStyle {
    padding: 0.45rem;
  }

  #extDiv {
    gap: 1rem;
    padding: 1.25rem 1.5rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 60%;
    border-radius: 0.5rem;
  }

  #extMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #extMainBtn {
    padding: 0.45rem 0.65rem;
    border-radius: 0.35rem;
  }

  #extCanIcon {
    height: 1.75rem;
    width: 1.75rem;
  }

  #setSec {
    margin: 1.5rem auto 3rem auto;
    width: 60%;
    border-radius: 0.5rem;
  }

  #setSecDiv {
    align-items: center;
    padding: 1.5rem;
  }

  #setHead {
    font-size: 1.25rem;
  }

  #setText {
    margin: 0.5rem 0 0.75rem 0;
  }

  #showTaskDiv {
    align-self: flex-start;
  }

  .showTasks {
    height: 1rem;
    width: 1rem;
  }

  #cusSec {
    padding: 0 0.75rem 0.75rem 0.75rem;
  }

  .cusMain {
    padding: 0.75rem;
  }

  .cusMainDiv {
    gap: 0 2.5rem;
  }

  .cusIcon {
    height: 2.25rem;
    width: 2.25rem;
  }

  .innerBtn {
    padding: 0.5rem 0.75rem;
  }

  #innerBtnDiv {
    gap: 2rem;
  }

  .cusImg {
    width: 12.5rem;
    height: 10rem;
  }

  .sideMenus {
    top: 4.5rem;
    right: 1rem;
  }

  #personalDetails {
    width: 20%;
  }

  #alertAside {
    width: 25%;
  }
}