*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
  background-color: black;
  color: white;
}

body {
  background-color: #F1F1F1;
}

.impDiv {
  background-color: #303030;
  display: flex;
  align-items: center;
  gap: 0 0.75rem;
  border: 0.25px solid #616161;
}

.impIcon {
  color: #E3E3E3;
}

#impSrchIcon {
  color: #B5B5B5;
}

#impField {
  color: #B5B5B5;
  background-color: #303030;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
}

.impFieldDiv:hover {
  border: 0.5px solid #E1E1E1;
}

.impFieldDiv:active {
  border: 2px solid #B5B5B5;
}

#impField:hover + #impFieldDiv {
  background-color: red;
}

.centerElement {
  display: flex;
  align-items: center;
}

#notIcon {
  color: #E3E3E3;
}

#notIcon:hover {
  background-color: #616161;
}

#notIcon:active {
  background-color: #656266;
}

#dcIconText {
  border: none;
  align-items: center;
}

#dcIconText:hover {
  background-color: #616161;
}

#dcIconText:active {
  background-color: #656266;
}

#dcIconText:focus {
  background-color: #656266;
  border: 1px solid #005BD3;
}

#dcIconText.styleDcIconTextDisplay {
  display: none;
}

#dcIconText.styleDcIconTextBackground {
  background-color: #616161;
  display: none;
}

#dcText {
  color: #E3E3E3;
  font-size: 1rem;
}

.dcIconStyle {
  color: rgba(0, 0, 0, 0.4);
  background: #36FBA1;
  font-family: 'Inter';
  font-size: 1rem;
  border-radius: 0.5rem;
  font-style: normal;
}

#extDiv {
  display: flex;
  background-color: #1A1A1A;
}

#extMainText {
  font-size: 1rem;
  color: #E3E3E3;
}

#extMainBtn {
  font-size: 1rem;
  border: none;
  background-color: #FFFFFF;
  color: #323232;
}

#setSec {
  background-color: white;
}

#setSecDiv {
  display: flex;
  justify-content: space-between;
}

#setTaskCom {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#setHead {
  color: #303030;
}

#setText {
  font-size: 1rem;
  color: #303030;
}

#setTaskText {
  font-size: 1rem;
  color: #303030;
}

#taskBar {
  background: linear-gradient(to left, #F1F1F1 80%, #1A1A1A 20%);
  width: 5rem;
  height: 0.25rem;
  border-radius: 0.5rem;
}

#showTask {
  height: fit-content;
}

#cusSec {
  display: none;
  opacity: 0;
}

#cusSec.toggleCusSec {
  display: block;
  opacity: 1;
}

.cusMain:nth-child(1) {margin-top: 0;} .cusMain:nth-child(5) {margin-bottom: 0;}

.cusMain {
  background-color: transparent;
  margin: 1rem 0;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cusMain.cusMainAddColor {
  background-color: #F2F2F2;
}

.cusMainDiv {
  display: grid;
  grid-template-columns: 2.5% 92.5%;
}

.cusIcon {
  align-items: flex-start;
}

.innerHead {
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.innerSection {
  margin-top: 0.75rem;
  display: none;
}

.innerSection.openInnerSection {
  display: block;
}

.innerText {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.innerSpan {
  color: #005BD3;
}

.innerBtn {
  border: hidden;
  background-color: #404040;
  color: #F6F3F6;
  border-radius: 0.5rem;
  font-size: 1rem;
}

#innerBtnDiv {
  display: flex;
  align-items: center;
}

#innerDivSpan {
  font-weight: 600;
  color: #323232;
  font-size: 1rem;
}

.cusImg {
  display: none;
}

.cusImg.openCusImg {
  display: block;
}

#personalDetails {
  display: none;
}

.sideMenus {
  position: absolute;
  background-color: white;
  border-radius: 1rem;
}

#personalDetails.toggleDetails {
  display: block;
}

.collectorDivs {
  padding: 0.5rem;  
  border-bottom: 0.5px solid #E1E1E1;
}

.collectorDivs:last-child {
  border-bottom: none;
}

#collectorName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F1F1F1;
  border-radius: 0.5rem;
  padding: 0.35rem 0.5rem;
}

[class~="listItemFlex"] {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}

.listItems {
  list-style: none;
  display: block;
  padding: 0.35rem 0.5rem;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.listItems:hover {
  background-color: #F1F1F1;
}

.listItems:active {
  background-color: #F0F0F0;
}

.listItems.focusedListItem {
  background: transparent;
  border: 1px solid #005BD3;
}

.collectorDivs .listItems:first-child {
  margin-top: 0;
}

.listName {
  color: #303030;
  font-size: 1rem;
}

#storeItemDiv {
  gap: 0 0.75rem;
}

#accountMail {
  margin: 0.05rem 0 0 0.15rem;
  font-size: 0.75rem;
}

#alertAside {
  padding: 1rem;
  display: none;
}

#alertAside.toggleAlertAside {
  display: block;
}

#alertNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#alertInnerDiv {
  display: flex;
  gap: 0 1.5rem;
}

#alertMain {
  padding: 1rem;
  text-align: center;
  background-color: #F1F1F1;
  margin-top: 1.5rem;
}


@media all and (max-width: 767px) {

  #shopIcon {
    height: 2.5rem;
    width: 2.5rem;
  }
  
  #shopIconText {
    display: none;
  }

  #header {
    padding: 0.5rem 1rem;
  }

  .impDiv {
    padding: 0.35rem 0.75rem;
    border-radius: 0.5rem;
  }

  .impIcon {
    height: 1.25rem;
    width: 1.25rem;
  }

  #impDiv {
    width: 34.5%;
  }

  #impDiv.impDivWidth {
    width: 67%;
  }

  #notDcAside {
    gap: 0 0.75rem;
  }

  #notIcon {
    width: 1.25rem; 
    height: 1.25rem;
  }
  
  #dcIconText {
    display: flex;
    background-color: #322F33 !important;
  }

  .dcIconStyle {
    padding: 0.35rem;
  }

  #extDiv {
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
  }

  #extMainText {
    margin-bottom: 1rem;
  }
  
  #extMainBtn {
    padding: 0.35rem 0.5rem;
    border-radius: 0.25rem;
  }
  
  #extCanIcon {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  #setSec {
    margin-top: 1rem;
  }

  #setSecDiv {
    gap: 1.5rem;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  #setHead {
    font-size: 1rem;
  }
  
  #setText {
    margin: 0.5rem 0 0.75rem 0;
  }

  #cusSec {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  .cusMain {
    padding: 0.5rem;
  }

  .cusMainDiv {
    gap: 0 2rem;
  }

  .cusIcon {
    height: 2rem;
    width: 2rem;
  }
  
  .innerBtn {
    padding: 0.5rem;
  }

  #innerBtnDiv {
    gap: 0 1.5rem;
  }

  .cusImg {
    display: none !important;
  }

  #personalDetails {
    width: 75%;
    right: 1rem;
  }

  .sideMenus {
    top: 4.75rem;
  }

  #alertAside {
    left: 0;
    right: 0;
    width: 92.5%;
    margin: auto;
  }
}





@media all and (min-width: 1024px) {

  #shopIcon {
    display: none;
  }
  
  #shopIconText {
    height: 2.5rem;
    width: 7.5rem;
  }

  #header {
    padding: 0.5rem 1rem;
  }

  .impDiv {
    padding: 0.5rem 0.85rem;
    border-radius: 0.75rem;
  }

  .impIcon {
    height: 1rem;
    width: 1rem;
  }

  #impDiv {
    width: 40% !important;
  }

  #notDcAside {
    gap: 0 0.75rem;
  }

  #notIcon {
    width: 2.25rem; 
    height: 2.25rem;
    background-color: #322F33;
    padding: 0.35rem;
    border-radius: 0.5rem;
  }

  #dcIconText {
    display: flex !important;
    padding: 0;
    gap: 0;
  }

  #dcSvgIcon {
    display: none;
  } 

  #dcText {
    padding: 0.45rem;
    border-radius: 0.5rem;
  }
  
  .dcIconStyle {
    padding: 0.45rem;
  }

  #extDiv {
    gap: 1rem;
    padding: 1.25rem 1.5rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 60%;
    border-radius: 0.5rem;
  }

  #extMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  #extMainBtn {
    padding: 0.45rem 0.65rem;
    border-radius: 0.35rem;
  }
  
  #extCanIcon {
    height: 1.75rem;
    width: 1.75rem;
  }
  
  #setSec {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 0.5rem;
  }

  #setSecDiv {
    align-items: center;
    padding: 1.5rem;
  }

  #setHead {
    font-size: 1.25rem;
  }
  
  #setText {
    margin: 0.5rem 0 0.75rem 0;
  }

  #showTaskDiv {
    align-self: flex-start;
  }
  
  .showTasks {
    height: 1rem;
    width: 1rem;
  }

  #cusSec {
    padding: 0 0.75rem 0.75rem 0.75rem;
  }

  .cusMain {
    padding: 0.75rem;
  }

  .cusMainDiv {
    gap: 0 2.5rem;
  }

  .cusIcon {
    height:2.25rem;
    width: 2.25rem;
  }

  .innerBtn {
    padding: 0.5rem 0.75rem;
  }

  #innerBtnDiv {
    gap: 2rem;
  }

  .cusImg {
    width: 12.5rem;
    height: 10rem;
  }

  .sideMenus {
    top: 4.5rem;
    right: 1rem;
  }

  #personalDetails {
    width: 20%;
  }

  #alertAside { 
    width: 25%;
  }
}